
.bgHoverBlock{
        background-color: rgba(238, 107, 51, 0.18);
    display: block;
    height: 600px;
}

.dash-widget-item {
        margin-bottom: 0px;
}

.mylogo {
    padding-left: 70px !important;
    font-weight: bold !important;
    color: #D32031 !important;
}


.imgMaps
{
        height: 350px !important;
    width: 400px !important;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.mini-charts-item .chart {
    padding: 15px;
    width: 110px;
    float: left;
    font-size: 20px !important;
}

.fa2
{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    -moz-osx-font-smoothing: grayscale;
    color: #7B6D6D;
    padding: 5px;
}

.bgImpacto
{
        background-color: white;
}

.iconIndicador
{
    color: red;
    padding-left: 30px;
    font-size: 35px;
}

.mainPanel .mainTitle
{
    font-size: 3.4rem;
    line-height: 4.2rem;
    font-weight: 900;
    width: 950px;
    text-align: center;
    margin: 0 auto 2.5rem;
    display: block;
    position: relative;
}
.fontwhite
{
    color: white !important;
}
.paddingzero
{
    padding: 0px;

}

.cardDetails
{
    /*height: 400px;*/
}



.bgMaps
{
    background: #111 url("./../img/background/road2.png") no-repeat center;
    padding: 0px;
}


.bgMapsBoxes {
    color: white;
    padding: 10px;
    background-color: rgba(14, 12, 12, 0.4);
    border-radius: 5px;
    margin-top: 40px;
}

.bgMapsBoxes h2{
    color: white;
}

.bgHeart {
    background: #fff url("./../img/background/heart.jpg");
    padding: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.bgIndicators {
    background: #111 url("./../img/background/indicators.jpg");
    padding: 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.bgImpactoLeve {
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    padding: 50px;
    margin: 0px;
    color: white !important;
}

.bgImpactoLeve h2 {
    color: white !important;
}

.bgPeople
{
    background: #fff url("./../img/background/squares.jpg")  center;
    background-size: 100% auto;
    padding: 0px;
}

.bgPeople .container
{
    background-color: rgba(245, 245, 245, 0.85);
    width: 100%;
    padding: 40px;
}

.card-body{

        text-align: left;

}


.mainPanel .mainTitle small
{
      font-size: 2.0rem;


  }


.mainPanel .boxes
{
        /*width: 400px;*/
    background-color: rgba(0,0,0, 0.35);
    color: white;
    font-weight: 400;
     /*line-height: 1.2rem;*/

    padding: 20px;
    border-radius: 5px;

}

.mainPanel .boxes .text
{
    padding-bottom: 10px;
}



.mainPanel
{
    height: 600px;
}

@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-R.ttf);
}

/* Global Styles */

html, body {
    height: 100%;
}

body {
    font-family: Ubuntu !important;
    padding-top: 60px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}


.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}
