<div  ng-controller="acaoCtrl"  >
<div class="card mainPanel bgHeart">
    <div class="card-header mainTitle" style="    color: black;">
        <label>Humanact
        <br>
        <small>Faça seu mundo melhor!</small>
        </label>
    </div>

    <div class="card-body row col-md-12">

         <div class="boxes col-md-offset-4 col-md-4">

            <div class="col-md-12 text" >
                Humanact é um projeto sem fins lucrativos que unê as pessoas que precisam de ajuda com as pessoas que podem doar um minutinho para um criar um mundo melhor.  Participe!
            </div>

            <div class="col-md-12">
                <input name="email" type="text" id="inline_input" placeholder="Email address" class=" col-md-6" >
                <button type="submit" class="btn btn-danger waves-effect  col-md-offset-1 col-md-5 ">Cadastre-se!   </button>

            </div>

         </div>

    </div>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Realize boas ações</h3>
                <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Encontre ajuda! </h3>
                <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Sua comunidade mais atuante</h3>
                <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
  <div class=" bgImpacto bgIndicators">

<div class="container paddingzero bgImpactoLeve   ">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2> Veja seu impacto na rede! </h2>
            <br>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    <div class="chart stats-bar-2">
                        <div class="iconIndicador">
                            <i class="fa fa-level-up fontwhite"></i>
                        </div>
                    </div>
                    <div class="count">
                        <small>Pessoas Impactadas</small>
                        <h2>356,785K</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-red">
                <div class="clearfix">
                    <div class="chart stats-bar-2">
                        <div class="iconIndicador">
                            <i class="fa fa-level-up fontwhite"></i>
                        </div>
                    </div>
                    <div class="count">
                        <small>Ações realizadas</small>
                        <h2>353</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-amber">
                <div class="clearfix">
                    <div class="chart stats-bar-2">
                        <div class="iconIndicador">
                            <i class="fa fa-level-up fontwhite"></i>
                        </div>
                    </div>
                    <div class="count">
                        <small>Usuarios ativos na rede</small>
                        <h2>3512</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-green">
                <div class="clearfix">
                    <div class="chart stats-bar-2">
                        <div class="iconIndicador">
                            <i class="fa fa-level-up fontwhite"></i>
                        </div>
                    </div>
                    <div class="count">
                        <small>Novos cadastros essa semana!</small>
                        <h2>35</h2>
                    </div>
                </div>
            </div>
        </div>


</div>

</div>



<div ng-if="isLogged == 1" class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Cadastre uma nova ação {{user.name}}! </h2>
                            <img  src="img/action.jpg" alt="" style="    width: 400px;
    padding-top: 30px;">

            </div>

            <div class="col-md-6">
                    <div class="row">
                        <h2>Dados sobre a sua ação:</h2>


                    </div>

                    <div class="row">
                        <form>
                            <div class="row">
                                <div class="form-group">
                                 <label >Descrição da Ação: 
                                   </label>

                                    <input type="text" class="form-control" ng-model="acao.description" placeholder="Descrição *" required data-validation-required-message="Por favor, digite uma descrição da ação.">
                                </div>
                                <div class="form-group">
                                 <label >Pessoas necessárias: 
                                   </label>
                                    <input type="number" class="form-control" placeholder="Pessoas necessárias *"    ng-model="acao.people" >
                                </div>
                               <div class="form-group">
                                   <label >Raio de atuação em Km quadrados: 
                                   </label>
                                    <input type="number" class="form-control" placeholder="Raio de atuação em Km quadrados" ng-model="acao.radius" >
                                </div>
                                 <div class="form-group">
                                     <label >Local alvo: 
                                   </label> <input type="text" class="form-control" placeholder="Local alvo" ng-model="acao.targetPlace" >
                                </div>
                                  <div class="form-group">
                                   <label > Aberto por quantos dias: 
                                   </label>
                                    <input type="number" class="form-control" placeholder="Aberto por quantos dias" ng-model="acao.duration" >
                                </div>
                            </div>
                            <div class="row text-center">
                                <button type="button" ng-click="enviarAcao(acao);" class="btn btn-lg btn-primary">
                                     Enviar
                                </button>
                                 <button type="cancel"  ng-click="cancelarAcao();"   class="btn btn-lg btn-primary">
                                     Cancelar
                                </button>

                            </div>
                        </form>
                    </div>
                </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<div class="text-center bgPeople">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2> Ultimos registros cadastrados! </h2>

                <hr>

                <div class="card col-md-5 paddingzero">
                    <div class="card-header bgm-red ch-alt m-b-20">
                        <h2>Últimas postagens <small>Mostrando os ultimos 5 registros. </small></h2>
                        <ul class="actions">
                            <li>
                                <a href="" class="fontwhite">
                                    <i class="fa fa-download fontwhite"></i>
                                </a>
                            </li>
                        </ul>

                        <button class="btn bgm-amber btn-float waves-effect"    style="padding-top: 10px;">
                        <i class="fa fa-plus" ></i></button>
                    </div>

                    <div class="card-body">
                        <div class="listview">
                            <a ng-repeat="ac in acaoList | orderBy:'-id'" class="lv-item" href="" ng-click="verDetalhesAcao(ac)">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="img/profile-pics/{{ac.userId}}.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">{{ac.userName}}</div>
                                        <small class="lv-small">{{ac.description}} </small>
                                        <br>
                                        <small  > Status Atual: {{ac.state}}</small> <br>
                                        <small  > Pessoas para atuar: {{ac.alreadyPeople}}/{{ac.people}} </small>

                                    </div>
                                </div>
                            </a>
                            <a class="lv-footer" href="">Visualize todas!</a>
                        </div>
                    </div>
                </div>


                 <div ng-if="hasAction" class="card col-md-6 col-md-offset-1  paddingzero cardDetails">
                    <div class="card-body">
                        <div id="site-visits" class="dash-widget-item bgm-teal">
                                <div class="dash-widget-header">
                                    <div class="p-20">
                                        <div class="dash-widget-visits">

                                        {{obj.description}}
                                        </div>
                                    </div>
                                    
                                    <div class="dash-widget-title">Criado por: {{obj.userName}}</div>
                                </div>
                                
                                <div class="p-20">
                                    
                                    <small>Protagonistas Necessários </small>
                                    <h3 class="m-0 f-400"> {{obj.people}}</h3>
                                    
                                    <br>
                                    
                                    <small>Protagonistas Atuantes:</small>
                                    <h3 class="m-0 f-400"> {{obj.alreadyPeople}}</h3>
                                    
                                    <br>
                                    
                                    <small>Status Atual: </small>
                                    <h3 class="m-0 f-400">{{obj.state}}</h3>
                                </div>

                                 <div class="col-md-12 text-center">
                                      <button type="button" ng-click="participarAcao(obj.id);" class="btn bgm-red waves-effect">
                                         Atuar nessa ação!
                                     </button>
                               </div>
                            </div>
                               
                    </div>
               </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->


<div class="bgMaps">

    <div class="container">

        <div class="row">
            <div class="bgMapsBoxes  col-md-5 col-sm-5">
                <h2>Lugares que vocês estão atuando:</h2>
                <ul>
                    <li>Campinas</li>
                    <li>Valinhos</li>
                    <li>Sumaré</li>
                    <li>Porto Velho</li>
                    <li>Brasilia</li>
                    <li> e indo mais longe!</li>
                </ul>
            </div>
            <div class="  col-md-offset-2  col-md-5 col-sm-5" style="padding:10px">
                <img class="img-responsive imgMaps"   src="img/location.png">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Quer trabalhar conosco ? Entre em contato! </h2>

            </div>

            <div class="col-md-6">
                    <div class="row">
                        <h2>Envie sua mensagem</h2>
                    </div>

                    <div class="row">
                        <form>
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nome *" required data-validation-required-message="Por favor, digite seu nome.">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" required data-validation-required-message="Por favor, digite seu email.">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Mensagem *" rows="5" required data-validation-required-message="Por favor, digite uma mensagem."></textarea>
                                </div>
                            </div>
                            <div class="row text-center">
                                <button type="submit" class="btn btn-lg btn-primary">
                                     Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

</div>