 
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Humanact</h4>
      </div>
      <div class="modal-body">
        <p id="modalText">Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div><!-- <footer>
    <div class="container">
        <p><a href="https://github.com/outrightmental/angularjs-tutorial-1">&hearts; on github</a></p>
    </div>
</footer>
 -->